<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ether Smart Contract</title>

    <!--Using UI Template from QuixLab -->
    @*Ref: https://themefisher.com/products/quixlab*@
    <!-- Favicon icon -->
    <!-- Custom Stylesheet -->
    <link href="~/Content/Template Css/darkula.css" rel="stylesheet" />
    <link href="~/Content/Template Css/style.css" rel="stylesheet" />
    <link href="~/Content/icons/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/icons/material-design-iconic-font/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/Content/icons/metisMenu.min.css" rel="stylesheet" />
    <!--Using UI Template from QuixLab -->
    <style>
        .page-titles .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
            content: "\e606";
            font-family: 'simple-line-icons';
            font-size: 10px;
            color: #555555;
        }

        .mdi-magnify:before {
            content: "\F349";
        }
    </style>
</head>

<body>
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <div id="main-wrapper">

        <!--**********************************
        Nav header start
        ***********************************-->

        <div class="nav-header">
            <div class="brand-logo">
                <a href="@Url.Action("Index","Home")">
                    @*<span class="logo-abbr" style="text-align:center">*@
                    @*<h3 style="color:#ffffff">Eth</h3>*@
                    <img class="logo-abbr" src="~/Images/Logo/ether.png" style="height:35px;width:45px" />
                    @*</span>*@
                    <!--<span class="logo-compact">
                        <img class="logo-abbr" src="~/Images/Logo/ether.png" style="height:35px;width:45px" />-->
                    @*<img src="~/Images/logo-compact.png" alt="">*@
                    <!--</span>-->
                    <span class="brand-title">
                        <h3 style="color:#ffffff">Nethereum <img src="~/Images/Logo/ether.png" class="brand-title" style="height:35px;width:45px" /></h3>

                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
        Nav header end
        ***********************************-->

        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="drop-down   d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown d-none d-md-flex">
                            <a href="javascript:void(0)" class="log-user" data-toggle="dropdown">
                                <span>Ether User</span>
                            </a>
                        </li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="~/Images/avatar/myAvatar.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile.html"><i class="icon-user"></i> <span>David</span></a>
                                        </li>
                                        <li style="overflow: hidden; text-overflow: ellipsis; ">
                                            <label> Sender Address:</label>
                                            <span>0x12890d2cce102216644c59daE5baed380d84830c</span>
                                        </li>

                                        <hr class="my-2">
                                        <li>
                                            <span>ASE Project</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="nk-sidebar">

            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                        <ul aria-expanded="false">
                            <li>
                                <a href="@Url.Action("Index","Home")">Smart Contract</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-label">Apps</li>

                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-screen-tablet menu-icon"></i> <span class="nav-text">Other</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="#">Reports</a></li>                          
                        </ul>
                    </li>
                    @*<li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="mdi mdi-magnify"></i> <span class="nav-text">Searching Algorithms</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="@Url.Action("LinearSearch","SearchingAlgorithm")">Linear Search</a></li>
                <li><a href="@Url.Action("BinarySearch","SearchingAlgorithm")">Binary Search</a></li>
            </ul>
        </li>*@
                </ul>
            </div>
        </div>
        <div class="content-body">
            @RenderBody()
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                    </div>
                </div>

            </div>
            <!-- #/ container -->
        </div>

        <!-- Footer Elements Starts-->
        <div class="footer">
            <div class="copyright">

            </div>
        </div>
        <!-- Footer Elements Ends-->
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!--**********************************
        Scripts
    ***********************************-->
    @*<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>*@

    <script src="~/Scripts/Template Scripts/common.min.js"></script>
    <script src="~/Scripts/Template Scripts/custom.min.js"></script>
    <script src="~/Scripts/Template Scripts/settings.js"></script>
    <script src="~/Scripts/Template Scripts/gleek.js"></script>
    <script src="~/Scripts/Template Scripts/styleSwitcher.js"></script>
    <script src="~/Scripts/Template Scripts/highlight.pack.min.js"></script>
    <script src="~/Scripts/Template Scripts/bootstrap-select.min.js"></script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script>
        (function ($) {
            "use strict"

            new quixSettings({
                version: "light", //2 options "light" and "dark"
                layout: "vertical", //2 options, "vertical" and "horizontal"
                navheaderBg: "color_1", //have 10 options, "color_1" to "color_10"
                headerBg: "color_1", //have 10 options, "color_1" to "color_10"
                sidebarStyle: "full", //defines how sidebar should look like, options are: "full", "compact", "mini" and "overlay". If layout is "horizontal", sidebarStyle won't take "overlay" argument anymore, this will turn into "full" automatically!
                sidebarBg: "color_1", //have 10 options, "color_1" to "color_10"
                sidebarPosition: "static", //have two options, "static" and "fixed"
                headerPosition: "fixed", //have two options, "static" and "fixed"
                containerLayout: "wide",  //"boxed" and  "wide". If layout "vertical" and containerLayout "boxed", sidebarStyle will automatically turn into "overlay".
                direction: "ltr" //"ltr" = Left to Right; "rtl" = Right to Left
            });


        })(jQuery);
    </script>
    @Scripts.Render("~/bundles/jquery")
    @* @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
